@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.dashboard {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  max-width: 900px;
  width: 100%;
  gap: 20px;
}
.profile {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  min-width: 150px;
}
.profile-info {
  padding: 20px;
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  padding-bottom: 50px;
}
.profile img {
  max-width: 60px;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.profile p {
  color: hsl(236, 100%, 87%);
  font-weight: 100;
  font-size: small;
}
.profile h1 {
  font-weight: 300;
  font-size: 1.5rem;
}
.profile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  padding: 20px;
  gap: 10px;
}
.profile-menu button {
  background: none;
  border: none;
  color: hsl(236, 100%, 87%);
  cursor: pointer;
  font-size: medium;
  
}
.profile-menu button:hover,
.profile-menu button:focus {
  color: white;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.card-content:hover{
  background-color: hsl(235, 45%, 61%);
  cursor: pointer;
}
.card-bg {
  height: 35px;
  border-radius: 15px 15px 0 0;
}
.card-work {
  background: url(images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: hsl(15, 100%, 70%);
}
.card-play {
  background: url(images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: hsl(195, 74%, 62%);
}
.card-study {
  background: url(images/icon-study.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: hsl(348, 100%, 68%);
}
.card-excercise {
  background: url(images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: hsl(145, 58%, 55%);
}
.card-social {
  background: url(images/icon-social.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: hsl(264, 64%, 52%);
}
.card-self-care {
  background: url(images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: hsl(43, 84%, 65%);
}
.card-content {
  border-radius: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(235, 46%, 20%);
}
.card-heading-design {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card h2 {
  font-size: medium;
  font-weight: 400;
  margin-bottom: 15px;
}
.curr-time {
  font-weight: 200;
  font-size: xxx-large;
}
.card .last-time {
  font-weight: 300;
  font-size: small;
}
@media screen and (max-width: 450px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }
  .profile-menu {
    display: flex;
    flex-direction: row;
  }
}
